@import "tailwindcss";
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }

  body {
    margin: 0;
    padding: 0;
  }
}
