@import "tailwindcss";
@layer base;
@layer components;
@layer utilities;

@base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
    line-height: 1.5;
  }

  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  }

  body {
    margin: 0;
    padding: 0;
  }
}
